body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
}

.container {
    margin: 0 auto;
}

.card {
    background-color: var(--card-bg);
    max-width: 350px;
    border-radius: 15px;
    padding: 20px;
    margin: 2rem 1rem;
    box-shadow: 0 0 1em 0.5em var(--main-bg);
}

.card-img {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

.card-img img {
    width: 100%;
    display: block;
}

.img-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(178, 100%, 50%, 0.5);
    display: none;
}

.img-overlay img{
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-img:hover .img-overlay {
    display: block;
    cursor: pointer;
}

.title {
    font-size: 22px;
    color: white;
    margin: 15px 0;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.title:hover {
    color: var(--cyan);
    cursor: pointer;
}

.txt-info {
    color: var(--soft-blue);
    font-weight: 300;
    margin-bottom: 15px;
}

.prices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 16px;
}

.eth, .time {
    display: flex;
}


.eth p {
    color: var(--cyan);
    font-weight: 400;
    margin-left: 7px;
}

.time p {
    color: var(--soft-blue);
    font-weight: 400;
    margin-left: 7px;
}

hr {
    border-color: var(--line);
    margin-bottom: 15px;
}

.creator {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.creator img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 15px;
}

.creator p {
    font-size: 16px;
    font-weight: 300;
    color: var(--soft-blue);
}

.creator a {
    color: white;
    transition: 0.3s ease-in-out;
}

.creator a:hover {
    color: var(--cyan);
    cursor: pointer;
}